// Variables

@theme-primary: #674172;
@theme-dark: #111111;
@theme-light: #dcc6e0;

// Mixins

.transition-all() {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.button-variant(@color; @background; @border) {
    color: @color;
    background-color: @background;
    border-color: @border;
    .transition-all;

    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active,
    .open > .dropdown-toggle& {
        color: @color;
        background-color: darken(@background, 5%);
        border-color: darken(@border, 7%);
    }
    &:active,
    &.active,
    .open > .dropdown-toggle& {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: @background;
            border-color: @border;
        }
    }

    .badge {
        color: @background;
        background-color: @color;
    }
}

.sans-serif-font() {
    font-family: 'Dosis', 'Helvetica Neue', Arial, sans-serif;
}

.serif-font() {
    font-family: 'Dosis', 'Helvetica Neue', Arial, sans-serif;
} 

// Global Components
html,
body {
    height: 100%;
    width: 100%;
}

body {
    .serif-font;
}

hr {
    border-color: @theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    .transition-all;
    color: @theme-primary;
    &:hover,
    &:focus {
        color: darken(@theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .sans-serif-font;
    text-transform: uppercase;
}
h2{
    margin-bottom: 2em;
}
p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: @theme-primary;
}

.bg-dark {
    background-color: @theme-dark;
    color: #F2F1EF;
}
.bg-light{
    background-color: @theme-light;
    color: @theme-dark;
}

.text-faded {
    color: fade(white, 70%);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation

.navbar-default {
    background-color: white;
    border-color: fade(@theme-dark, 5%);
    .sans-serif-font;
    .transition-all;
    .navbar-header .navbar-brand {
        color: @theme-primary;
        .sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken(@theme-primary, 10%);
        }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 17px;
                color: @theme-light;
                &:hover {
                    color: @theme-primary;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: @theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: #252525;
        border-color: fade(white, 30%);
        .navbar-header .navbar-brand {
            color: fade(white, 70%);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .navbar-brand{
            padding: 8px 15px;

        }
        .nav > li > a,
        .nav > li > a:focus {
            color: fade(white, 70%);
            &:hover {
                color: white;
            }
        }
        &.affix {
            background-color: #252525;
            border-color: fade(@theme-light, 5%);
            .navbar-header .navbar-brand {
                color: @theme-primary;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken(@theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: white;
                &:hover {
                    color: @theme-primary;
                }
            }
        }
    }
}

// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;
    .background-cover;
    background-position: center;
    background-image: url('../img/header.jpg');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        margin-left: 50%;
        width: 50%;
        .header-content-inner {
            h1 {
                font-size: 16px !important;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: fade(white, 70%);
                font-size: 16px;
            }
        }
    }
    #amazuLogo{
        width: 30%;
    }   
    #lappLogo{
        width: 50%;
        margin-bottom: 2em;
    }
    #downloadLinks{
        display: table;
        width: 50%;
        margin:  15px auto;
    }

    #icon{
        display: table-column;
        width: 40%;
        float: left;

    }

    #store{
        display: table-cell;
        width: 60%;
        float:left;
        margin: 2px 0;
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections
.selected img {
    opacity:0.5;

}
.item{
    margin: 0 auto;
}
#slider{
    margin-bottom: 1em;
}
.section-heading {
    margin-top: 0;
}
// speech box

p.speech
{
    position: relative;
    width: 250px;
    height: 120px;
    text-align: center;
    /*line-height: 100px;*/
    background-color: @theme-light;
    border: 8px solid @theme-primary;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin: 20px auto;
    padding: 5px;
}

p.speech:before
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 104px;
    border: 25px solid;
    border-color: @theme-primary transparent transparent @theme-primary;
}

p.speech:after
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 104px;
    border: 15px solid;
    border-color: @theme-light transparent transparent @theme-light;
}
.pressLogo{
    width: 250px;
    margin-top: 25px;
}


//speech box end 

//mail chimp

#mailchimpForm{
    display: table;
    clear: both;

}
.email{
    display: table-cell;
    width: 50%;
    margin: 15px;
    height: 46px;
}
.emailButton{
    display: table-cell;
    width: 30%;
}
.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}
.socialIcon{
    color: @theme-primary;
}
#footer{
    position: absolute;
    width: 100%;
}
#footer h2{
    text-align: center;
}

#footer ul{
    list-style-type: none;
    margin-bottom: 25px;
}
#footer a{
    /*text-decoration: underline;*/
    font-size: 17px;
}
.copyright{
    position: absolute;
    bottom: 15px;  
    left: 38%;
}
.crystalLeft, .crystalRight{
    position: absolute;
    bottom: 0px;    
    z-index: 0;
    width: 20%;
}
.crystalLeft{
   left: 0px;
}
.crystalRight{
    right: 0px;
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity: 0;
        display: block;
        background: fade(@theme-primary, 90%);
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        .transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                .sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: @theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    .button-variant(@theme-dark;white;white);
}

.btn-primary {
    .button-variant(white;@theme-primary;@theme-primary);
}

.btn {
    .sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: @theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: @theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    webkit-tap-highlight-color: @theme-dark;
}